# Top GitHub Users By Public Contributions in Afghanistan

<div align="center">
<a href="https://github.com/haroonrashidzadran/afghanistan-github-leaderboard">
<img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Afghanistan.svg" alt="Afghanistan" width="200">
</a>
</div>

The `public contributions` by users in Afghanistan on `{date}`. This list contains users from `Afghanistan` and cities `{cities}`.

There are `{total_users}` users in Afghanistan.

| # | Name | Company | Twitter | Location | Public Contributions |
|---|------|---------|---------|----------|----------------------|
{tr}
